#update-text {
	resize: none;
}

#update-isEncrypted{
	margin-top: 24pt;
	margin-bottom: 24pt;
}

#validation-alert {
	margin-top: 24pt;
}

.file-input {
	padding-left: .5rem;
}

.description {
	margin-top: 16pt;
	margin-bottom: 16pt;
}
